<!doctype html>
<html class="no-js" lang="zxx">

    <head>
        <meta charset="utf-8">
	    <script data-ad-client="ca-pub-9419938342603973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	    <meta name="google-site-verification" content="NHNNnf3qUjeMMTQUIaKyUH3iaS80tldhJWmTYinGZ4s" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>News HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        {% load static %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>









		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/ticker-style.css' %}">
            <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">


   </head>

   <body>

{% block header %}{% endblock %}
{%block content %} {%endblock%}
{% block footer %}{% endblock %}

{% block javascripts %}{% endblock %}


    </body>
</html>
